@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgb(46, 45, 45);
    
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
   }

header p {
    color: white;
    padding-bottom: 50px;
}

 header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

 header a:hover, footer a:hover {
    text-decoration: underline;
    color: aquamarine;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: rgb(243, 238, 238);
    color: rgb(12, 12, 12);
}

section.imagem {
    background-color: rgba(29, 28, 28, 0.815);
    color: white;
    
}

section.imagem > p {
    width: 200px;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    
}

 footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
 }